.carousel-control .glyphicon-hand-left,
.carousel-control .glyphicon-hand-right,
.carousel-control .icon-next,
.carousel-control .icon-prev,

{
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
}

body{
  padding-top: 5%;
  background: #FFFEFB;
}

p{
  padding: 2%;
  color: #333;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

footer{
  border-top: 2px solid slategrey;
}

h1, h2, h3, h4{
  color: #0F1338;
  font-weight: bold;

}

h1{
  font-family: 'Shrikhand', cursive;
  font-size: 5em;
  color: #0F1338;
  text-align: center;
}

h2{
  font-family: 'Prociono', serif;
  text-align: center;
  font-size: 3em;
}

h3{
    font-family: 'PT Sans', sans-serif;
    font-size: 2.5em;
}

h4{
  color: white;
  font-size: 2em;
}





.item{
  width: auto;
  height: 400px;
}

.item img{
  width: auto;
  height: 400px;
}

.carouselText{
  color: white;
  font-size: 2em;
}

#buy{
  height: 100px;
  width: 500px;
  background: #FFBF28;
  align-content: center;
  font-size: 3em;
}


.purple:hover{
    background-color: #DD9FFF;
}

.red:hover{
    background-color: #FF5E5D;
}

.blue:hover{
    background-color: #70BAFF;
}

a .green:hover{
    background-color: #A1FF9C;
}

.orange:hover{
    background-color: #FF916A;
}

.gold:hover{
    background-color: #E8DA73;
}

/*a:hover{
  background-color: #DD9FFF;
}*/

figcaption{
  text-align: center;
  font-size: 1.5em;
  color: #333333;
}

a.orangeCar:hover{
  color: #FF916A;
}

/*a:hover{
  background-color: grey;
}*/


.purpleHeading{
  color: #8131E8;
}

.orangeHeading{
  color: #FF7814;
}

.blueHeading{
  color: #0B68FF;
}

.goldHeading{
  color: #B66E0D;
}



.redHeading{
  color: #A10F0F;
}


.greenHeading{
  color: #3AB658;
}

.relatedPurple{
  background-color: #8131E8;
}


/*figcaption:hover{
  color: orange;
}*/
